html,
body{
  height: 100%;
}

body{
  @extend %rubik-400;
  font-size: 18px;
  line-height: 30px;
  color: $title;
  display: flex;
  flex-direction: column;
}

.main{
  flex-grow: 1;
}

.container-s{
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.container{
  max-width: 1800px;
  padding: 0 15px;
  margin: 0 auto;
}

.title{
  font-size: 36px;
  line-height: 43px;
  color: $black-title;
  @extend %dms-700;
  margin-bottom: 30px;
}