$default-bg: #fcd7b6;
$default-accent-bg: #fef7f0;
$main-bg: #edf1f4;
$accent-bg: #a3bbc8;
$side-bg: #dae4e9;

$title:#243f4d;
$black-title: #1f2044;
$text: #436372;
$accent-text: #7b7b7b;

%rubik-400{
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}

%rubik-500{
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}

%poppins-700{
  font-family: 'Poppins-Bold', sans-serif;
  font-weight: 700;
}

%dms-400{
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
}

%dms-500{
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
}

%dms-700{
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
}