@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header{
  padding: 45px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu__list{
  display: flex;
  &-item + .menu__list-item{
    margin-left: 35px;
  }
  &-link{
    color: $text;
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px; 
  }
}

.user-nav{
  display: flex;
  &__link{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  .search{
    background-color: $main-bg;
  }
  .menu-btn{
    background-color: $accent-bg;
  }
  &__link-box{
    display: flex;
    align-items: center;
    margin: 0 25px;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: $default-bg;
    position: relative;
    &::before{
      content: "";
      position: absolute;
      height: 32px;
      width: 1px;
      background-color: rgba(255, 255, 255, 0.7);
      right: 50%;
    }
  }
  &__link-store{
    padding: 5px 20px;
    position: relative;
  }
  &__num{
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    line-height: 16px;
    top: -3px;
    right: 10px;
    font-size: 10px;
    @extend %dms-400;
    font-weight: 400;
    color: $title;
  }
}

.footer{
  &-top{
    padding: 80px 0 68px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $side-bg;
  }
  &-top__item{
    width: 170px;
    font-size: 14px;
    color: $accent-text;
  }
  &-logo{
    margin-bottom: 25px;
    display: block;
  }
  &-top__links{
    display: inline-block;
    margin-bottom: 12px;
    line-height: 21px;
  }
  &-top__item-info{
    width: 200px;
  }
  &-top__info{
    display: inline-block;
    margin-bottom: 12px;
    line-height: 21px;
  }
  &-top__title{
    @extend %dms-700;
    font-weight: 700;
    margin: 12px 0 25px;
    font-size: 16px;
    line-height: 21px;
    color: $black-title;
    text-transform: uppercase;
  }
  &-top__item-form{
    @extend %dms-400;
    font-weight: 400;
    width: 270px;
    margin-bottom: 12px;
    line-height: 21px;
  }
  &-top__text{
    @extend %rubik-400;
    font-weight: 400;
    margin-bottom: 35px;
  }
  &-top__input{
    border: none;
    padding: 14px 15px;
    width: 170px;
    font-size: 12px;
    background-color: $default-accent-bg;
    &::placeholder{
      font-size: 12px;
    }
  }
  &-top__button{
    border: none;
    background-color: $accent-bg;
    padding: 13px 15px;
    color: #fff;
  }
  &-bottom{
    padding: 35px 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $accent-text;
  }
  &-bottom__item{
    display: inline-block;
  }
  &-bottom__link{
    padding: 2px 15px;
  }
  &-bottom__item{
    position: relative;
    &::after{
      content: "|";
      position: absolute;
      right: 0;
      top: -1px;
    }
  }
  &-bottom__item:last-child::after{
    display: none;
  }
}

@import 'media';