@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header{
  padding: 45px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu__list{
  display: flex;
  &-item + .menu__list-item{
    margin-left: 35px;
  }
  &-link{
    color: $text;
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px; 
  }
}

.user-nav{
  display: flex;
  &__link{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  .search{
    background-color: $main-bg;
  }
  .menu-btn{
    background-color: $accent-bg;
  }
  &__link-box{
    display: flex;
    align-items: center;
    margin: 0 25px;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: $default-bg;
    position: relative;
    &::before{
      content: "";
      position: absolute;
      height: 32px;
      width: 1px;
      background-color: rgba(255, 255, 255, 0.7);
      right: 50%;
    }
  }
  &__link-store{
    padding: 5px 20px;
    position: relative;
  }
  &__num{
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    line-height: 16px;
    top: -3px;
    right: 10px;
    font-size: 10px;
    @extend %dms-400;
    font-weight: 400;
    color: $title;
  }
}

.top-slider{
  background-image: url('../images/top-slider-bg.jpg');
  background-color: $default-bg;
      background-position: 58% 90%;
  &__item{
    display: flex !important;
    justify-content: space-between;
  }
  &__content{
    max-width: 500px;
    padding: 200px 0;
  }
  &__title{
    font-size: 72px;
    line-height: 70px;
    margin-bottom: 30px;
    @extend %rubik-500;
    font-weight: 500;
  }
  &__text{
    margin-bottom: 35px;
    width: 370px;
  }
  &__btn{
    @extend %btn;
  }
  &__img{
    align-self: center;
  }
  .slick-dots{
    display: flex;
    padding-bottom: 45px;
    justify-content: center;
    li{
      opacity: .3;
      transition: all .3s;
      & + li{
        margin-left: 11px;
      }
      button{
        border: none;
        padding: 0;
        width: 29px;
        height: 29px;
        border-radius: 50%;
        background-color: #fff;
        text-align: center;
        line-height: 29px;
        @extend %rubik-500;
        font-size: 11px;
        color: $title;
      }
    }
    .slick-active{
      opacity: 1;
    }
  }
}

.benefits{
  background-color: $default-accent-bg;
  padding: 55px 0 45px;
  display: flex;
  justify-content: space-around;
  &__item{
    padding-left: 80px;
    position: relative;
  }
  &__item-support::before{
    position: absolute;
    content: "";
    background-image: url('../images/icons/support-icon.svg');
    width: 51px;
    height: 53px;
    left: 0;
    top: 10px;
  }
  &__item-delivery::before{
    position: absolute;
    content: "";
    background-image: url('../images/icons/delivery-icon.svg');
    width: 54px;
    height: 36px;
    left: 0;
    top: 10px;
  }
  &__item-pay::before{
    position: absolute;
    content: "";
    background-image: url('../images/icons/pay-icon.svg');
    width: 54px;
    height: 52px;
    left: 0;
    top: 10px;
  }
  &__title{
    @extend %dms-700;
    font-weight: 700;
    margin-bottom: 10px;
    color: $brown-title;
  }
  &__text{
    width: 240px;
    @extend %dms-400;
    font-weight: 400;
    color: $brown-text;
  }
}

.products{
  padding: 70px 0 190px;
  &__title{
    text-align: center;
  }
  &__nav-list{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
  }
  &__nav-btn{
    color: $light-title;
    transition: all .3s;
    @extend %dms-700;
    border: none;
    background-color: transparent;
    padding: 0;
  }
  &__nav-item + .products__nav-item{
    margin-left: 30px;
  }
  .mixitup-control-active{
    color: $black-title;
  }
  &__content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 40px;
    grid-column-gap: 30px;
  }
  &__item{
    background-color: #fff;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    padding: 20px 30px 35px;
    text-align: center;
    width: 270px;
    min-height: 380px;
    position: relative;
    .products__buttons{
      opacity: 0;
      transition: all .5s;
      position: absolute;
      right: 0;
      left: 0;
      top: 180px;
    }
    &:hover{
      .products__buttons{
        opacity: 1;
      }
    }
  }
  &__btn{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
  }
  &__search-btn{
    background-color: #fefefe;
    position: relative;
    &::before{
      position: absolute;
      content: "";
      background-image: url('../images/icons/products-search-icon.svg');
      width: 20px;
      height: 20px;
      top: 13px;
      left: 12px;
    }
  }
  &__basket-btn{
    background-color: $accent-bg;
    position: relative;
    &::before{
      position: absolute;
      content: "";
      background-image: url('../images/icons/products-basket-icon.svg');
      width: 22px;
      height: 20px;
      top: 13px;
      left: 12px;
    }
  }
  &__favorit-btn{
    background-color: #fff;
    position: relative;
    &::before{
      position: absolute;
      content: "";
      background-image: url('../images/icons/products-heart-icon.svg');
      width: 22px;
      height: 18px;
      top: 13px;
      left: 12px;
    }
  }
  &__img{
    margin-bottom: 60px;
  }
  &__content-title{
    @extend %dms-500;
    line-height: 40px;
    margin-bottom: 10px;
  }
  &__price{
    @extend %dms-700;
    color: $accent-bg;
    line-height: 40px;
  }
}

.product-banners{
  &__inner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
  &__item{
    background-color: $default-accent-bg;
    min-height: 390px;
    max-width: 860px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 10px 130px;
  }
  &__img{
    margin-top: -170px;
  }
  &__content{
    margin-left: 50px;
  }
  &__title{
    font-size: 26px;
    line-height: 32px;
    @extend %dms-700;
    color: $title;
    margin-bottom: 25px;
    max-width: 260px;
  }
  &__text{
    max-width: 380px;
    margin-bottom: 30px;
  }
  &__link{
    color: $text;
    background-color: transparent;
    padding: 20px 100px 20px 25px;
    font-size: 12px;
    line-height: 15px;
    position: relative;
    border: 1px solid #b3b7b5;
    border-radius: 5px;
    &::after{
      position: absolute;
      content: "";
      width: 22px;
      height: 9px;
      right: 15px;
      top: 23px;
      background-image: url('../images/green-arrow.png');
    }
  }
}

.footer{
  &-top{
    padding: 80px 0 68px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $side-bg;
  }
  &-top__item{
    width: 170px;
    font-size: 14px;
    color: $accent-text;
  }
  &-logo{
    margin-bottom: 25px;
    display: block;
  }
  &-top__links{
    display: inline-block;
    margin-bottom: 12px;
    line-height: 21px;
  }
  &-top__item-info{
    width: 200px;
  }
  &-top__info{
    display: inline-block;
    margin-bottom: 12px;
    line-height: 21px;
  }
  &-top__title{
    @extend %dms-700;
    font-weight: 700;
    margin: 12px 0 25px;
    font-size: 16px;
    line-height: 21px;
    color: $black-title;
    text-transform: uppercase;
  }
  &-top__item-form{
    @extend %dms-400;
    font-weight: 400;
    width: 270px;
    margin-bottom: 12px;
    line-height: 21px;
  }
  &-top__form{
    display: flex;
  }
  &-top__text{
    @extend %rubik-400;
    font-weight: 400;
    margin-bottom: 35px;
  }
  &-top__input{
    border: none;
    padding: 14px 15px;
    width: 170px;
    font-size: 12px;
    background-color: $default-accent-bg;
    &::placeholder{
      font-size: 12px;
      @extend %dms-400;
    }
  }
  &-top__button{
    border: none;
    background-color: $accent-bg;
    padding: 13px 15px;
    color: #fff;
  }
  &-bottom{
    padding: 35px 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $accent-text;
  }
  &-bottom__item{
    display: inline-block;
  }
  &-bottom__link{
    padding: 2px 15px;
  }
  &-bottom__item{
    position: relative;
    &::after{
      content: "|";
      position: absolute;
      right: 0;
      top: -1px;
    }
  }
  &-bottom__item:last-child::after{
    display: none;
  }
}

@import 'media';