<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/style.min.css">
  <link rel="stylesheet" href="css/about.min.css">
</head>

<body>
  {% include "app/module/_header/_header.html" %}

  <main class="main">
    {% include "app/module/_breadcrumbs/_breadcrumbs.html" %}
    <section class="achievements">
      <div class="container-s">
        <div class="achievements__inner">
          <img class="achievements__img" src="images/achievements-bg.jpg" alt="">
          <div class="achievements__content">
            <div class="achievements__years">
              <h3 class="achievements__yearsnum">
                12
              </h3>
              <div class="achievements__yearstext-box">
                <p class="achievements__yearstext">
                  Years
                </p>
                <p class="achievements__yearstext">
                  Experience
                </p>
                <p class="achievements__yearstext">
                  Working
                </p>
              </div>
            </div>
            <h4 class="achievements__title">
              Mission of our creative house
            </h4>
            <p class="achievements__text">
              consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
              ad minim
              veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
              dolor in
              reprehenderit in voluptate velit esse cillum
            </p>
            <div class="achievements__benefits">
              <div class="achievements__benefits-item achievements__benefits-item__projects">
                <h6 class="achievements__benefits-item__title">
                  520+
                </h6>
                <p class="achievements__benefits-item__text">
                  Projects
                </p>
              </div>
              <div class="achievements__benefits-item achievements__benefits-item__revenue">
                <h6 class="achievements__benefits-item__title">
                  $4M
                </h6>
                <p class="achievements__benefits-item__text">
                  Revenue
                </p>
              </div>
              <div class="achievements__benefits-item achievements__benefits-item__awards">
                <h6 class="achievements__benefits-item__title">
                  250
                </h6>
                <p class="achievements__benefits-item__text">
                  Awards
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="benefits-info">
      <div class="container-s">
        <div class="benefits-info__items">
          <div class="benefits-info__item">
            <div class="benefits-info__img-box">
              <div class="benefits-info__img-box">
                <img class="benefits-info__img" src="images/icons/benefits-info-1.svg" alt="">
              </div>
            </div>
            <h6 class="benefits-info__title">
              99%
            </h6>
            <p class="benefits-info__text">
              Satisﬁed Clients Rate
            </p>
          </div>
          <div class="benefits-info__item">
            <div class="benefits-info__img-box">
              <img class="benefits-info__img" src="images/icons/benefits-info-2.svg" alt="">
            </div>
            <h6 class="benefits-info__title">
              5020+
            </h6>
            <p class="benefits-info__text">
              Products Delivered
            </p>
          </div>
          <div class="benefits-info__item">
            <div class="benefits-info__img-box">
              <img class="benefits-info__img" src="images/icons/benefits-info-3.svg" alt="">
            </div>
            <h6 class="benefits-info__title">
              23hr
            </h6>
            <p class="benefits-info__text">
              Daily Working Time
            </p>
          </div>
          <div class="benefits-info__item">
            <div class="benefits-info__img-box">
              <img class="benefits-info__img" src="images/icons/benefits-info-4.svg" alt="">
            </div>
            <h6 class="benefits-info__title">
              140+
            </h6>
            <p class="benefits-info__text">
              Brands in Store
            </p>
          </div>
        </div>
      </div>
    </div>
    <section class="team">
      <div class="container-s">
        <div class="team__inner">
          <div class="team__content">
            <h3 class="team__title">
              Our Team
            </h3>
            <p class="team__text">
              Lorem ipsum dolor sit amet, conse ctetur adipi sicing elit, sed do eiusmod tempor inciLorem ipsum dolor
              sit amet,
              consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
              ad minim
              veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            <a class="team__btn" href="#">
              Join With US
            </a>
          </div>
          <div class="team__items">
            <div class="team__item">
              <div class="team__item-imgbox">
                <img class="team__item-img" src="images/team/team-1.jpg" alt="">
              </div>
              <div class="team__item-info">
                <div class="team__item-box">
                  <div class="team__info">
                    <h6 class="team__name">
                      Eliza Elliot
                    </h6>
                    <p class="team__position">
                      Commodo tempor
                    </p>
                  </div>
                  <div class="team__social">
                    <a class="team__link" href="#">
                      <img src="images/icons/instagram-icon.svg" alt="">
                    </a>
                    <a class="team__link team__link-google" href="#">
                      <img src="images/icons/google+-icon.svg" alt="">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="team__item">
              <div class="team__item-imgbox">
                <img class="team__item-img" src="images/team/team-2.jpg" alt="">
              </div>
              <div class="team__item-info">
                <div class="team__item-box">
                  <div class="team__info">
                    <h6 class="team__name">
                      Roscoe A.
                    </h6>
                    <p class="team__position">
                      Commodo tempor
                    </p>
                  </div>
                  <div class="team__social">
                    <a class="team__link" href="#">
                      <img src="images/icons/instagram-icon.svg" alt="">
                    </a>
                    <a class="team__link team__link-google" href="#">
                      <img src="images/icons/google+-icon.svg" alt="">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="team__item">
              <div class="team__item-imgbox">
                <img class="team__item-img" src="images/team/team-3.jpg" alt="">
              </div>
              <div class="team__item-info">
                <div class="team__item-box">
                  <div class="team__info">
                    <h6 class="team__name">
                      Ruby M.
                    </h6>
                    <p class="team__position">
                      Commodo tempor
                    </p>
                  </div>
                  <div class="team__social">
                    <a class="team__link" href="#">
                      <img src="images/icons/instagram-icon.svg" alt="">
                    </a>
                    <a class="team__link team__link-google" href="#">
                      <img src="images/icons/google+-icon.svg" alt="">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="team__item">
              <div class="team__item-imgbox">
                <img class="team__item-img" src="images/team/team-4.jpg" alt="">
              </div>
              <div class="team__item-info">
                <div class="team__item-box">
                  <div class="team__info">
                    <h6 class="team__name">
                      Marie F. Bloss
                    </h6>
                    <p class="team__position">
                      Commodo tempor
                    </p>
                  </div>
                  <div class="team__social">
                    <a class="team__link" href="#">
                      <img src="images/icons/instagram-icon.svg" alt="">
                    </a>
                    <a class="team__link team__link-google" href="#">
                      <img src="images/icons/google+-icon.svg" alt="">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% include "app/module/_articles/_articles.html" %}
  </main>

  {% include "app/module/_footer/_footer.html" %}

  <script src="js/main.min.js"></script>
</body>

</html>