<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/blog-one.min.css">
  <link rel="stylesheet" href="css/style.min.css">
</head>

<body>
  {% include "app/module/_header/_header.html" %}

  <main class="main">
    {% include "app/module/_breadcrumbs/_breadcrumbs.html" %}
    <section class="blog blog-one">
      <div class="container-s">
        <div class="blog-one__inner blog__inner">
          <div class="blog__content">
            <img class="blog-item__img" src="images/blog/page-2.jpg" alt="">
            <div class="blog-item__info-box">
              <p class="articles-top__info-link">
                <img src="images/icons/calendar-icon-white.svg" alt="">
                28 JANUARY, 2020
              </p>
              <a class="articles-top__info-link" href="#">
                <img src="images/icons/admin-icon-white.svg" alt="">
                BY ADMIN
              </a>
            </div>
            <div class="blog-one__text">
              <h3>
                Fonsectetur adipisicing eiusmod
              </h3>
              <h5>
                Sdipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                venia Lorem ipsum
                dolor sit amet, consectetur adipisicing elit,
              </h5>
              <p>
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                ad minim
                veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet, consectetur
                adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                voluptate velit esse
                cillum dolore eu fugiat nulla pariatur.
              </p>
              <blockquote>
                Sdipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                veniam, quis
                nostrud exercitation ullamco laboris
                <span>
                  Wiusmod tempor
                </span>
              </blockquote>
              <img class="blog-one__img-left" src="images/blog/blog-one.jpg" alt="">
              <h5>
                Riusmod tempor incididunt
              </h5>
              <p>
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                ad minim
                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              </p>
              <h5>
                Kajtsal jervcm eoaspckred
              </h5>
              <p>
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                ad minim
                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              </p>
            </div>
            <div class="blog-one__author">
              <div class="blog-one__author-info">
                <a class="blog-one__author-link" href="#">
                  <img class="blog-one__author-img" src="images/avatar/1.jpg" alt="">
                </a>
                <div class="blog-one__author-text">
                  <a href="#">
                    <h4 class="blog-one__author-name">
                      Mark N. Hernandez
                    </h4>
                  </a>
                  <p class="blog-one__author-position">
                    Designer
                  </p>
                </div>
              </div>
              <div class="blog-one__author-box">
                <div class="blog-one__author-tag">
                  Tags:
                  <div class="blog-one__author-tag__link-box">
                    <a class="blog-one__author-tag__link" href="#">All, </a>
                  <a class="blog-one__author-tag__link" href="#">Trending</a>
                  </div>
                </div>
                <div class="blog-one__author-social">
                  <p class="blog-one__author-social__text">
                    Share:
                  </p>
                  <div class="blog-one__author-social__box">
                    <a class="blog-one__author-social__link" href="#">
                      <img src="images/icons/social/facebook.svg" alt="">
                    </a>
                    <a class="blog-one__author-social__link" href="#">
                      <img src="images/icons/social/twitter.svg" alt="">
                    </a>
                    <a class="blog-one__author-social__link" href="#">
                      <img src="images/icons/social/instagram.svg" alt="">
                    </a>
                    <a class="blog-one__author-social__link" href="#">
                      <img src="images/icons/social/google.svg" alt="">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="comments">
              <h4 class="comments__title">
                3 Comments
              </h4>
              <div class="comments__items">
                <div class="comments__item">
                  <img class="comments__item-img" src="images/avatar/2.jpg" alt="">
                  <div class="comments__item-content">
                    <div class="comments__item-top">
                      <h6 class="comments__item-name">
                        Delores G. Roberts
                      </h6>
                      <p class="comments__item-date">
                        Add 11 Oct 2020
                      </p>
                    </div>
                    <p class="comments__item-text">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fringilla massa et tristique convallis. Class aptent
                      taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse orci sem, ultrices
                    </p>
                    <a class="comments__item-link" href="#">
                      Reply
                    </a>
                  </div>
                </div>
                <div class="comments__item comments__item--answer">
                  <img class="comments__item-img" src="images/avatar/2.jpg" alt="">
                  <div class="comments__item-content">
                    <div class="comments__item-top">
                      <h6 class="comments__item-name">
                        Delores G. Roberts
                      </h6>
                      <p class="comments__item-date">
                        Add 11 Oct 2020
                      </p>
                    </div>
                    <p class="comments__item-text">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fringilla massa et tristique convallis. Class
                      aptent
                      taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse orci sem, ultrices
                    </p>
                    <a class="comments__item-link" href="#">
                      Reply
                    </a>
                  </div>
                </div>
                <div class="comments__item">
                  <img class="comments__item-img" src="images/avatar/2.jpg" alt="">
                  <div class="comments__item-content">
                    <div class="comments__item-top">
                      <h6 class="comments__item-name">
                        Delores G. Roberts
                      </h6>
                      <p class="comments__item-date">
                        Add 11 Oct 2020
                      </p>
                    </div>
                    <p class="comments__item-text">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fringilla massa et tristique convallis. Class
                      aptent
                      taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse orci sem, ultrices
                    </p>
                    <a class="comments__item-link" href="#">
                      Reply
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <form class="blog-one__form" action="#">
              <p class="blog-one__form-title">
                Leave A Comment
              </p>
              <div class="blog-one__form-input__box">
                <div class="blog-one__form-name">
                  <input class="blog-one__form-input" type="text" placeholder="Name">
                </div>
                <div class="blog-one__form-email">
                  <input class="blog-one__form-input" type="text" placeholder="Email">
                </div>
              </div>
              <div class="blog-one__form-textarea__box">
                <textarea class="blog-one__form-textarea" placeholder="Comment"></textarea>
              </div>
              <button class="blog-one__form-btn" type="submit">
                Post Comment
              </button>
            </form>
          </div>
          <div class="blog__aside">
            <div class="filter-item filter-search">
              <form class="filter-search__form">
                <input class="filter-search__input" type="text">
                <button class="filter-search__btn" type="submit"></button>
              </form>
            </div>
            <div class="filter-item filter-category">
              <h3 class="filter-title">
                CATEGORY
              </h3>
              <form class="filter-category__form">
                <label class="filter-category__label">
                  <input class="filter-category__input" type="checkbox" checked>
                  <div class="filter-category__checkbox">
                    <span class="filter-category__text">
                      Chair
                    </span>
                  </div>
                </label>
                <label class="filter-category__label">
                  <input class="filter-category__input" type="checkbox">
                  <div class="filter-category__checkbox">
                    <span class="filter-category__text">
                      Table
                    </span>
                  </div>
                </label>
                <label class="filter-category__label">
                  <input class="filter-category__input" type="checkbox">
                  <div class="filter-category__checkbox">
                    <span class="filter-category__text">
                      Lamp
                    </span>
                  </div>
                </label>
                <label class="filter-category__label">
                  <input class="filter-category__input" type="checkbox">
                  <div class="filter-category__checkbox">
                    <span class="filter-category__text">
                      Watch
                    </span>
                  </div>
                </label>
                <label class="filter-category__label">
                  <input class="filter-category__input" type="checkbox">
                  <div class="filter-category__checkbox">
                    <span class="filter-category__text">
                      Clock
                    </span>
                  </div>
                </label>
              </form>
            </div>
            <div class="filter-item filter-recent">
              <h3 class="filter-title">
                Recent Posts
              </h3>
              <div class="filter-recent__items">
                <div class="filter-recent__item">
                  <a href="#">
                    <img class="filter-recent__img" src="images/blog/filter-1.jpg" alt="">
                  </a>
                  <div class="filter-recent__content">
                    <div class="filter-recent__title">
                      Corem ipsum dolor tetur adipisicing elit
                    </div>
                    <div class="filter-recent__info">
                      <a class="articles-top__info-link" href="#">
                        <img src="images/icons/calendar-gray.svg" alt="">
                        28 JANUARY, 2020
                      </a>
                    </div>
                  </div>
                </div>
                <div class="filter-recent__item">
                  <a href="#">
                    <img class="filter-recent__img" src="images/blog/filter-2.jpg" alt="">
                  </a>
                  <div class="filter-recent__content">
                    <div class="filter-recent__title">
                      Corem ipsum dolor tetur adipisicing elit
                    </div>
                    <div class="filter-recent__info">
                      <a class="articles-top__info-link" href="#">
                        <img src="images/icons/calendar-gray.svg" alt="">
                        28 JANUARY, 2020
                      </a>
                    </div>
                  </div>
                </div>
                <div class="filter-recent__item">
                  <a href="#">
                    <img class="filter-recent__img" src="images/blog/filter-3.jpg" alt="">
                  </a>
                  <div class="filter-recent__content">
                    <div class="filter-recent__title">
                      Corem ipsum dolor tetur adipisicing elit
                    </div>
                    <div class="filter-recent__info">
                      <a class="articles-top__info-link" href="#">
                        <img src="images/icons/calendar-gray.svg" alt="">
                        28 JANUARY, 2020
                      </a>
                    </div>
                  </div>
                </div>
                <div class="filter-recent__item">
                  <a href="#">
                    <img class="filter-recent__img" src="images/blog/filter-4.jpg" alt="">
                  </a>
                  <div class="filter-recent__content">
                    <div class="filter-recent__title">
                      Corem ipsum dolor tetur adipisicing elit
                    </div>
                    <div class="filter-recent__info">
                      <a class="articles-top__info-link" href="#">
                        <img src="images/icons/calendar-gray.svg" alt="">
                        28 JANUARY, 2020
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% include "app/module/_partners/_partners.html" %}
  </main>

  {% include "app/module/_footer/_footer.html" %}

  <script src="js/main.min.js"></script>
</body>

</html>