<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/style.min.css">
  <link rel="stylesheet" href="css/conditions.min.css">
</head>
<body>
  {% include "app/module/_header/_header.html" %}

  <main class="main">
    {% include "app/module/_breadcrumbs/_breadcrumbs.html" %}
    <section class="conditions">
      <div class="container-s">
        <div class="conditions__box">
          <h5 class="conditions__title">
            Types of Personal Information We Collect
          </h5>
          <ul class="conditions__list">
            <li class="conditions__list-item">
              <p class="conditions__text">
                Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit in voluptate velit esse cillum dolore
              </p>
            </li>
            <li class="conditions__list-item">
              <p class="conditions__text">
                Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit in voluptate velit esse cillum dolore
              </p>
            </li>
            <li class="conditions__list-item">
              <p class="conditions__text">
                Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
            </li>
            <li class="conditions__list-item">
              <p class="conditions__text">
                Dagna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.
              </p>
            </li>
            <li class="conditions__list-item">
              <p class="conditions__text">
                Dagna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.
              </p>
            </li>
            <li class="conditions__list-item">
              <p class="conditions__text">
                Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit in voluptate velit esse cillum dolore
              </p>
            </li>
            <li class="conditions__list-item">
              <p class="conditions__text">
                Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit in voluptate velit esse cillum dolore
              </p>
            </li>
            <li class="conditions__list-item">
              <p class="conditions__text">
                Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
            </li>
            <li class="conditions__list-item">
              <p class="conditions__text">
                Dagna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.
              </p>
            </li>
            <li class="conditions__list-item">
              <p class="conditions__text">
                Dagna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.
              </p>
            </li>
            <li class="conditions__list-item">
              <p class="conditions__text">
                Dagna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.
              </p>
            </li>
          </ul>
        </div>
        <div class="conditions__box">
          <h5 class="conditions__title">
            How marketpmss.com Collects Personal Infonnation
          </h5>
          <p class="conditions__text">
            consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore 
          </p>
        </div>
        <div class="conditions__box">
          <h5 class="conditions__title">
            How marketprosscom Uses Personal Information
          </h5>
          <p class="conditions__text">
            consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore 
          </p>
        </div>
      </div>
    <section class="articles">
      <div class="articles-top">
        <div class="container-s">
          <div class="articles-top__title-box">
            <h3 class="title">
              Our Insights & Articles
            </h3>
            <a class="articles-top__link" href="#">
              View All
            </a>
          </div>
          <div class="articles-top__items">
            <div class="articles__top-item">
              <div class="articles-top__img-box">
                <a class="articles__link" href="#">
                  <img class="articles-top__img" src="images/blog/blog-1.jpg" alt="articles img">
                </a>
              </div>
              <div class="articles-top__content">
                <a class="articles-top__status" href="#">
                  NEWS
                </a>
                <p class="articles-top__text">
                  Diusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                </p>
                <div class="articles-top__info">
                  <a class="articles-top__info-link" href="#">
                    <img src="images/icons/calendar-icon.svg" alt="">
                    28 JANUARY, 2020
                  </a>
                  <a class="articles-top__info-link" href="#">
                    <img src="images/icons/admin-icon.svg" alt="">
                    BY ADMIN
                  </a>
                </div>
              </div>
            </div>
            <div class="articles__top-item">
              <div class="articles-top__img-box">
                <a class="articles__link" href="#">
                  <img class="articles-top__img" src="images/blog/blog-2.jpg" alt="articles img">
                </a>
              </div>
              <div class="articles-top__content">
                <a class="articles-top__status" href="#">
                  NEWS
                </a>
                <p class="articles-top__text">
                  Aonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                </p>
                <div class="articles-top__info">
                  <a class="articles-top__info-link" href="#">
                    <img src="images/icons/calendar-icon.svg" alt="">
                    28 JANUARY, 2020
                  </a>
                  <a class="articles-top__info-link" href="#">
                    <img src="images/icons/admin-icon.svg" alt="">
                    BY ADMIN
                  </a>
                </div>
              </div>
            </div>
            <div class="articles__top-item">
              <div class="articles-top__img-box">
                <a class="articles__link" href="#">
                  <img class="articles-top__img" src="images/blog/blog-3.jpg" alt="articles img">
                </a>
              </div>
              <div class="articles-top__content">
                <a class="articles-top__status" href="#">
                  NEWS
                </a>
                <p class="articles-top__text">
                  Rncididunt ut labore et dolore magna aliqua. Ut enim
                </p>
                <div class="articles-top__info">
                  <a class="articles-top__info-link" href="#">
                    <img src="images/icons/calendar-icon.svg" alt="">
                    28 JANUARY, 2020
                  </a>
                  <a class="articles-top__info-link" href="#">
                    <img src="images/icons/admin-icon.svg" alt="">
                    BY ADMIN
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="articles-bottom">
        <div class="container-s">
          <div class="patners">
            <img class="patners__img" src="images/partners/1.png" alt="partners logo">
            <img class="patners__img" src="images/partners/2.png" alt="partners logo">
            <img class="patners__img" src="images/partners/3.png" alt="partners logo">
            <img class="patners__img" src="images/partners/4.png" alt="partners logo">
            <img class="patners__img" src="images/partners/5.png" alt="partners logo">
          </div>
        </div>
      </div>
    </section>
  </main>

  {% include "app/module/_footer/_footer.html" %}

  <script src="js/main.min.js"></script>
</body>
</html>